<h1><%= title %></h1>

<h4>Movie Info: </h4>
<ul>
  <li>Genre: <%= movie_info[0]["genre"] %></li>
  <li>Studio: <%= movie_info[0]["studio"] %></li>
</ul>

<h4>List of Actors and Roles: </h4>
  <% movie_info.each do |movie| %>
    <li>Actor:  <a href="/actors/<%= movie["actors"] %>"><%= movie["actors"] %></a></li>
    <li>Role: <%= movie["character"] %></li>
<br>

  <% end %>
  <li><%= title %></li>


   Each actor name is a link to the details page for that actor.
